body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

#history {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
}

.history-entry {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.history-entry:last-child {
  border-bottom: none;
}

.red {
  color: red;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

.yellow {
  color: #ffa500;
  font-weight: bold;
}

/* ボタンの基本スタイル */
#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 255, 0.6); /* 青色のドロップシャドウ */
}

/* クリック時のアニメーション */
#startButton:active {
    transform: scale(0.95);
    background-color: #ffcccc; /* クリック時に色が変わる */
    box-shadow: 0px 2px 4px rgba(0, 0, 255, 0.3); /* クリック時のドロップシャドウを少し薄くする */
}

/* シーソーアニメーションの定義 */
@keyframes seesaw {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

/* シーソーアニメーションを適用するクラス */
.seesaw {
  display: inline-block;
  animation: seesaw 0.5s ease-in-out 1;
}